<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<div class="index-profile-container">
  <div class="edit-profile-container">
    <h1><%= title %></h1>
      <h3>Name:</h3> 
      <div id="name-input"><%= user.profile.name %></div>
      <h3>Email:</h3>
      <div id="email-input"><%= user.email %></div>
      <h3>Avatar:</h3>
      <img src=<%= user.profile.avatar %>>
      <a href="/profiles/<%= profile._id %>/edit">
        <button id="edit-profile-btn">Edit Profile</button>
      </a>  
  </div>
</div>


<%- include('../partials/footer') %>