<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %></h1>
  <a href="/profiles/<%= profile._id %>/edit">
  <button>Edit Profile</button>
  </a>  
    <h2>Name: <%= profile.name %> </h2>
    <h2>Email: <%= user.email %></h2>
    <h2>Avatar: <%= profile.avatar %>"></h2>


<%- include('../partials/footer') %>