<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

  <div class="edit-profile-container">
    <h1><%= title %></h1>
      <h3>Name:</h3> 
      <h4><%= profile.name %></h4>
      <h3>Email:</h3>
      <h4><%= user.email %></h4>
      <h3>Avatar:</h3>
      <img src=<%= user.profile.avatar %>>
      <a href="/profiles/<%= profile._id %>/edit">
        <button id="edit-profile-btn">Edit Profile</button>
      </a>  
    </div>
<%- include('../partials/footer') %>