<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= user ? user.profile.name : '' %> </h1>
  <h1>Welcome to frugal!</h1>
  <h2>A Personal Budgeting App</h2>
  <h4>Let Us Help you Save Up for your Next Adventure!</h4>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
