<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


<div class="home-container">
  <div id="user-text"><%= user ? user.profile.name + ',' : '' %></div>
  <div id="welcome-text">Welcome to frugal!</div>
  <div id="app-text">A Personal Budgeting App</div>
  <div id="quote-text">Let Us Help you Save Up For Your Next Adventure!</div>
  <% if (user?.profile.avatar) { %>
      <img
        id="avatar-img"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
  <% } %>
  <img id="title-page-img" src="../images/frugal-title-img.png" alt="home-page-img">
</div>


<%- include('./partials/footer') %>
