<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= user ? user.profile.name : '' %>,</h1>
  <h2>Welcome to frugal!</h2>
  <h3>A Personal Budgeting App</h3>
  <h4>Let Us Help you Save Up For Your Next Adventure!</h4>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
