<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
<% if (user){ %>
<h2><%= user.profile.name %>'s frugal</h2>
<% } %>
<table id="index-budget">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date Created</th>
      <th>Purpose</th>
      <th>Details</th>
      <th>Delete Budget</th>
    </tr>
  </thead>
  <tbody>
    <% budgets.forEach(budget => { %>
      <tr>
        <td><%= budgets.name %></td>
        <td><%= budgets.timestamps %></td>
        <td><%= budgets.purpose %></td>
        <td><a href="/budgets/<%= budget._id %>"><button>Details</button></a></td>
        <td>
          <form action="/budgets/<%= budget._id %>" method="POST">
          <button class="btn" type="submit">Delete Budget</button>
          </form>
        </td>
      </tr>
      <% }) %>
  </tbody>

</main>

<%- include('../partials/footer') %>
