<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/budgets/show.css">
<%- include('../partials/nav') %>

<div class="show-container">
  <% if (user){ %>
<div class="show-budget-container">
  <div class="budget-container">
    <a href="/budgets/<%= budget._id %>/edit">
      <button id="edit-btn">Edit frugal</button>
    </a>
    <div id="title"><%= budget.name %> <%= title %></div>
    <div class="goal-container">
      <div id="goal-show">Goal:</div>  
      <div id="purpose-show"><%= budget.purpose %></div> 
    </div>
  </div>
</div>
  <div class="budget-income-container">
    <div id="budget-income">
        <% let income = budget.income %> 
        <% let total %>
        <% budget.expenses.forEach(expense=>{%>
          <% income -= expense.cost %>
        <% }) %>
        $<%= income %>
    </div>
  </div>

<div class="expense-goal-container">
  <div class="expense-table-container">
        <table id="expense-table">
          <thead>
            <tr>
              <th>Expense</th>
              <th>Type of Expense</th>
              <th>Cost</th>
              <th>Delete Expense</th>
              <th>Edit Expense</th>
            </tr>
          </thead>
          <tbody>
            <% budget.expenses.forEach(expense => { %>
          <tr>
            <td><%= expense.name %></td>
            <td><%= expense.expenseType %></td>
            <td>$<%= expense.cost %></td>
            <td>
              <form action="/budgets/<%= budget._id %>/expenses/<%= expense._id %>?_method=DELETE" method="POST">
                <button id="delete-expense-btn" type="submit">Delete</button>
              </form>
            </td>
            <td>
              <a href="/budgets/<%= budget._id  %>/expenses/<%= expense._id %>/edit">
                <button id="edit-expense-btn">Edit</button>
              </a>
            </td>
            <% }) %>
          </tr>
        </tbody>
      </table>
      <% } %>
    </div>
    <div class="add-expense-container">
      <div id="add-expense">Add Expense</div>
      <form 
      id="add-expense-form"
      action="/budgets/<%= budget._id %>/expenses" 
      method="POST"
      >
      <label for="expense-input">Expense Name:</label>
      <input type="text" name="name" id="expense-input">
      <label for="cost-input">Cost:</label>
      <input type="number" name="cost" id="cost-input">
      <label for="expense-type-input">Type of Expense:</label>
      <select name="expenseType" id="expense-type-input">
        <option value="Fixed Costs">Fixed Costs</option>
        <option value="Planned Spending">Planned Spending</option>
      </select>
      <button id="add-expense-btn" type="submit">Add Expense</button>
    </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>