<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/budgets/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="budget-container">
  <h1><%= title %></h1>
  <% if (user){ %>
  <h2><%= budget.name %></h2>
  <h3>Goal</h3>
    <p><%= budget.purpose %></p>
  </div>
  <div class="budget-income-container">
    <div id="budget-income">
      <h2>
        <% let income = budget.income %> 
        <% let total %>
        <% budget.expenses.forEach(expense=>{%>
          <% income -= expense.cost %>
        <% }) %>
        $<%= income %>
      </h2>
  <% } %>
    </div>
  </div>
  <a href="/budgets/<%= budget._id %>/edit">
  <button id="edit-btn">Edit</button>
  </a>
<div class="add-expense-container">
  <h3>Add Expense</h3>
  <form 
    id="add-expense-form"
    action="/budgets/<%= budget._id %>/expenses" 
    method="POST"
    >
    <label for="expense-input">Expense Name:</label>
    <input type="text" name="name" id="expense-input">
    <label for="expense-type-input">Type of Expense:</label>
    <select name="expenseType" id="expense-type-input">
      <option value="Fixed Costs">Fixed Costs</option>
      <option value="Planned Spending">Planned Spending</option>
      </select>
    <label for="cost-input">Cost:</label>
    <input type="number" name="cost" id="cost-input">
      <button id="add-expense-btn" type="submit">Add Expense</button>
  </form>
</div>
  <div class="expense-table-container">
    <table id="expense-table">
      <thead>
        <tr>
          <th>Expense</th>
          <th>Type of Expense</th>
          <th>Cost</th>
          <th>Delete Expense</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% budget.expenses.forEach(expense => { %>
        <tr>
          <td><%= expense.name %></td>
          <td><%= expense.expenseType %></td>
          <td>$<%= expense.cost %></td>
          <td>
            <form action="/budgets/<%= budget._id %>/expenses/<%= expense._id %>?_method=DELETE" method="POST">
              <button id="delete-expense-btn" type="submit">Delete Expense</button>
            </form>
            </td>
          <td>
            <a href="/budgets/:budgetId/expenses/:expenseId/edit">
              <button id="edit-expense-btn">Edit</button>
            </a>
          </td>
    <% }) %>
      </tr>
    </tbody>
    </table>
  </div>

<%- include('../partials/footer') %>