<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/budgets/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="budget-container">
  <h1><%= title %></h1>
  <% if (user){ %>
  <h2><%= budget.name %></h2>
  <h2>Goal</h2>
    <p><%= budget.purpose %></p>
  </div>
  <h2>$<%= budget.income.toLocaleString() %></h2>
  <% } %>
  <a href="/budgets/<%= budget._id %>/edit">
  <button id="edit-btn">Edit</button>
  </a>
<h3>New Expense</h3>
    <label for="expense-input">Expense Name:</label>
    <input type="text" name="name" id="expense-input">
    <label for="expense-type-input">Type of Expense:</label>
    <select name="type" id="expense-type-input">
      <option value="Fixed">Fixed Costs</option>
      <option value="Planned">Planned Spending</option>
      <option value="Savings">Monthly Savings</option>
    </select>
    <label for="cost-input">Cost:</label>
    <input type="number" name="cost" id="cost-input">
    <form 
    id="add-expense-form"
    action="/budgets/<%= budget._id %>/expenses" 
    method="POST"
    >
    <button id="add-expense-btn" type="submit">Add Expense</button>
  </form>
  <div class="expense-table-container">
    <table id="table">
      <thead>
        <tr>
          <th>Fixed Cost</th>
          <th>Planned Spending</th>
          <th>Monthly Savings</th>
          <th>Delete Expense</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% budget.expenses.forEach(expense => { %>
        <tr>
          <td><%= expense.name %></td>
          <td><%= expense.type %></td>
          <td><%= expense.cost %></td>
          <td>
            <form action="/budgets/<%= budget._id %>/expenses/<%= expense._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete Expense</button>
            </form>
            </td>
          <td>
            <a href="/budgts/:budgetId/expenses/:expenseId/edit">
              <button>Edit</button>
            </a>
          </td>
    <% }) %>
    <div class="fixed-cost-container"></div>
      </tr>
    </tbody>
    </table>
  </div>
  




<%- include('../partials/footer') %>