<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/budgets/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="budget-container">
  <h1><%= title %></h1>
  <% if (user){ %>
  <h2><%= budget.name %></h2>
  <h2>Goal</h2>
    <p><%= budget.purpose %></p>
  </div>
  <h2>$<%= budget.income.toLocaleString() %></h2>
  <% } %>
  <a href="/budgets/<%= budget._id %>/edit">
  <button id="edit-btn">Edit</button>
  </a>
<h3>New Expense</h3>
    <form 
    id="add-expense-form"
    action="/budgets/<%= budget._id %>?_method=PUT" 
    method="POST"
    >
    <label for="expense-input">Expense Name:</label>
    <input type="text" name="name" id="expense-input">
    <label for="expense-type-input">Type of Expense:</label>
    <select name="type" id="expense-type-input">
      <option value="Fixed">Fixed Costs</option>
      <option value="Planned">Planned Spending</option>
      <option value="Savings">Monthly Savings</option>
    </select>
    <label for="cost-input">Cost:</label>
    <input type="number" name="cost" id="cost-input">
    <button id="add-expense-btn" type="submit">Add Expense</button>
  </form>
  <div class="expense-field-container">
    <% budget.expenses.forEach(expense => { %>
      <%= budget.name %> <%= budget.cost %>
    <% }) %>
    <div class="fixed-cost-container">
    <div id="fixed-cost">Fixed Cost</div>
  </div>
  <div class="planned-spending-container">
    <div id="planned-spending">Planned Spending</div>
  </div>
  <div class="savings-container">
    <div id="div">Monthly Savings</div>
    </div>
  </div>
  




<%- include('../partials/footer') %>